[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".config/eww/scripts/hyprland_workspace_indicator"]
	path = .config/eww/scripts/hyprland_workspace_indicator
	url = https://github.com/Jayden876212/hyprland_workspace_indicator
[submodule "WhiteSur-gtk-theme"]
	path = .theming/WhiteSur-gtk-theme
	url = https://github.com/Jayden876212/WhiteSur-gtk-theme
[submodule "Lightly"]
	path = .theming/Lightly
	url = https://github.com/Jayden876212/Lightly
[submodule "papirus-folders"]
	path = .theming/papirus-folders
	url = https://github.com/catppuccin/papirus-folders
[submodule ".theming/nautilus-open-any-terminal"]
	path = .theming/nautilus-open-any-terminal
	url = https://github.com/Stunkymonkey/nautilus-open-any-terminal.git
