@import 'css/colors';
@import 'css/colorscheme';
@import 'images/svg/color.scss';

$grey: grey;
$battcolor: $color6;
$memcolor: $color5;
$cpucolor: $color4;
$border: $color7;
$surface0: tint($colorbg, 10%);
$bg1: $surface0;

@mixin rounding {
  border-radius: 10px;
}


@mixin window {
  border: 3px solid $primary;
  // box-shadow: 0 2px 3px $shadow;
  margin: 5px 5px 10px;
  @include rounding;
}

* {
  all: unset;
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  // font-family: 'Torus', 'Material Symbols Rounded';
  background-repeat: no-repeat;
}

@import 'css/modules/_text.scss';
@import 'css/modules/_containers.scss';
@import 'css/modules/_progressbars.scss';
@import 'css/modules/_workspaces.scss';

.tray menu {
	border-radius: 10px;
	padding: 5px 0px;

	background-color: rgba(0, 0, 0, 0.8);

	>menuitem {
		padding: 0px 5px;

		&:disabled label {
			color: gray;
		}

		&:hover {
			background-color: #0e4679;
		}
	}

	separator {
		background-color: #222222;
		padding-top: 1px;

		&:last-child {
			padding: unset;
		}
	}
}
