.ws-text-top {
  // font-size: 16pt;
  // font-family: Torus;
  border-radius: 9999px;
  // padding-left: 3px;
  // padding-right: 3px;
  min-width: 27px;
  min-height: 5px;
  color: $colorbarbg;
  margin-left: 2px;
  margin-right: 2px;
}

.ws-text-active {
  background-color: $colorbar;
}

