@import 'includes/cascade-config.css';
@import 'includes/cascade-colours.css';

@import 'includes/cascade-layout.css';
@import 'includes/cascade-responsive.css';
@import 'includes/cascade-floating-panel.css';

@import 'includes/cascade-nav-bar.css';
@import 'includes/cascade-tabs.css';

@import 'includes/cascade-tcr.css';
/* ----- Included functions ----- */
/*

@import url("privacy_change_email_text.css");
@import url("privacy_blur_email_in_main_menu.css");
@import url("privacy_blur_email_in_sync_menu.css");
@import url("firefox_view_icon_change.css");
@import url("no_search_engines_in_url_bar.css");
@import url("spill-style-part1-file.css");
@import url("white_github_icon_in_bookmarks.css");
@import url("hide_list-all-tabs_button.css");
@import url("bookmarks_bar_same_color_as_toolbar.css");
@import url("min-max-close_buttons.css");
*/
/*
@import url("acrylic_micaforeveryone.css");
*/
/*
@import url("privacy_blur_tabs_content.css");
@import url("popout_bookmarks_bar_on_hover.css");
@import url("remove_folder_icons_from_bookmarks.css");
@import url("icons_in_main_menu.css");
@import url("ublock-icon-change.css");
@import url("give_more_width_to_active_tab.css");
@import url("autohide_tab_and_bookmarks_bars.css");
@import url("url_bar_no_border.css");
@import url("search_bar_transparent_background.css");
@import url("transparent_bookmarks_bar.css");
@import url("cleaner_extensions_menu.css");
@import url("colored_soundplaying_tab.css");
*/

/* ----- My Custom Colors ----- */
:root {
  --firefoxcss-main-bg-color: hsl(240, 2%, 13%);
  /* ^ Main dark color, url bar, active tab etc. ^ */
  --firefoxcss-item-bg-color: hsl(240, 2%, 20%);
  /* ^ Main lighter color, toolbar ^ */
  /*
  --firefoxcss-tab-bg-color: hsl(240, 2%, 26%);
  --firefoxcss-tab-hover-bg-color: hsl(240, 2%, 28%);
  --firefoxcss-tab-active-bg-color: var(--firefoxcss-main-bg-color);
  */
  --firefoxcss-bookmarks-bg-color: hsl(240, 2%, 13%);
  --firefoxcss-url-bar-bg-color: var(--firefoxcss-main-bg-color);
  --firefoxcss-url-border-bottom-color: hsla(0, 0%, 100%, 0.2);
  --firefoxcss-url-border-top-color: hsla(0, 0%, 0%, 0.15);
  --firefoxcss-url-breakout-bar-bg-color: var(--firefoxcss-main-bg-color);
  --firefoxcss-url-breakout-border-bottom-color: hsla(0, 0%, 70%, 0.05);
  --firefoxcss-top-bar-border-bottom-color: hsla(0, 0%, 6%, 0.75);
  --firefoxcss-other-color: hsla(0, 0%, 60%, 0.35);
  --firefoxcss-top-bar-border-bottom-size: 1px;
  --firefoxcss-border-radius: 10px;
  --firefoxcss-control-buttons-margin: 90px;
}

:root {
  --arrowpanel-background: var(--firefoxcss-main-bg-color) !important;
  --panel-separator-zap-gradient: linear-gradient(
    90deg,
    rgba(11, 11, 11, 1) 0%,
    rgb(204, 143, 78) 39%,
    rgb(37, 27, 36) 100%
  ) !important;
  --button-hover-bgcolor: hsla(0, 0%, 60%, 0.35) !important;
  --button-active-bgcolor: hsla(0, 0%, 45%, 0.35) !important;
  --button-bgcolor: hsla(0, 0%, 45%, 0.9) !important;
  --arrowpanel-border-color: hsla(0, 0%, 50%, 0.25) !important;
  --dark-menu-background-color: #222121 !important;
  --dark-menu-border-color: rgb(55, 55, 55) !important;
  --dark-menuitem-hover-background-color: rgba(159, 159, 159, 0.35) !important;
}

#urlbar {
  background-color: color-mix( in srgb, #000000 0%, transparent ) !important;
}

/* Sidebar Menu bg color */
/*
#browser #sidebar-box {
  --sidebar-background-color: var(--firefoxcss-main-bg-color) !important;
}
*/

#navigator-toolbox #nav-bar {
  background-color: transparent !important;
}

/* Remove line on the right side of the Firefox view button */
/*
:root:not([privatebrowsingmode="temporary"]):not([firefoxviewhidden])
  :is(#firefox-view-button, #wrapper-firefox-view-button)
  + #tabbrowser-tabs {
  border-inline-start: 0 !important;
}
*/

/* Remove line between website content and top bar */
#navigator-toolbox {
/*   border-bottom: var(--firefoxcss-top-bar-border-bottom-size) solid */
    var(--firefoxcss-top-bar-border-bottom-color) !important;
}




/* ========================= URL Bar ========================= */
/* IMPORANT THIS AFFECTS BLUR */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
#urlbar-background {
  display: none !important;
}
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */

/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
#urlbar {
  /*! --autocomplete-popup-highlight-background: hsl(240, 2%, 26%) !important; */
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  /* ! background-color: var(--firefoxcss-url-bar-bg-color) !important; */
  /*
  border-bottom: 1px solid var(--firefoxcss-url-border-bottom-color) !important;
  border-top: 1px solid var(--firefoxcss-url-border-top-color) !important;
  box-shadow: inset 1px 1px 1px 1px rgba(19, 22, 27, 1) !important;
  */
  border: 2px solid #81A1C1 !important
}
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */
/* DO NOT DELETE DO NOT DELETE NOT DELETE NOT DELETE NOT DELETE NOT DELETE  */

/* -----------------------------------------------------------------------
/* ------------------------ LINUX Support --------------------------------
/* -----------------------------------------------------------------------
 @media (-moz-gtk-csd-available)
 @media (-moz-gtk-csd-reversed-placement),*/

/*
browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
  background: color-mix( in srgb, #000000 40%, transparent ) !important;
}
*/

#main-window #navigator-toolbox {
  background-color: color-mix(in srgb, #2E3340 75%, transparent) !important;
}

#nav-bar {
    transition: all 0.1s ease !important;   
    opacity: 0; margin-top: -35px !important;
}
 
#titlebar:hover~#nav-bar,
#nav-bar:hover, #nav-bar:focus-within {
    opacity: 1; margin-top: 0px !important;
}

