// nord colour scheme

// Polar Night
$nordpolarnight1: #2e3440;
$nordpolarnight2: #3b4252;
$nordpolarnight3: #434c5e;
$nordpolarnight4: #4c566a;

// Aurora
$nordred: #bf616a;
$nordorange: #d08770;
$nordyellow: #ebcb8b;
$nordgreen: #a3be8c;
$nordpink: #b48ead;

// Frost
$nordfrost1: #8fbcbb;
$nordfrost2: #88c0d0;
$nordfrost3: #81a1c1;
$nordfrost4: #5e81ac;

$background-transparency: 0.5;

// end of nord colour scheme

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
// $red:         #EF738A;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$true: #EF738A;
$false: #A9B1D6;
